body {
  background-color: rgb(28, 31, 36);
}

header {
  background-color: rgb(0, 157, 230);
}
footer {
  background-color: rgb(15, 15, 15);
}

h1 {
  color: aqua;
}
h2 {
  color: rgb(8, 206, 255);
}
h3 {
  color: rgb(8, 144, 255);
}

ul,
ol,
dl,
p {
  color: rgb(213, 255, 252);
}
